K Nearest Neighbors (KNN) is an algorithm for classifcation and regression problems. It stores all the available data and classifies a new data point based on the similarity. This means when new data appears then it can be easily classified into a well suite category by using K-NN algorithm.

Implementing the KNN algorithm:

We have a dataset that contains description of flags that will predict the religion of that flag's country. We have image of differe flags that looks similar to the dataset flags. Our KNN model will find the similar features of the new datas et to the flags description and based on the similar features it will put it into a religion: Catholic, Hindu, Muslim and other Christianity.

Steps to implement the K-NN algorithm: -Data pre-processing step -Fitting the K-NN algorithm to the Training set -Predicting the test result -Test accuracy of the result -Visualizing the test set result

In [23]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import os

In [24]:
flag = pd.read_csv("flags.csv", names=['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 'bars', 'stripes', 'colors', 'red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright'])
flag.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [25]:
flag = pd.get_dummies(flag)

In [26]:
X = flag.drop(columns='religion')
y = flag.religion

In [27]:
# X = [[0], [1], [2], [3]]
# y = [0, 0, 1, 1]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [42]:
model = KNeighborsClassifier(n_neighbors=5)

In [43]:
model.fit(X_train, y_train)

KNeighborsClassifier()

In [44]:
model.score(X_test, y_test)

0.2653061224489796

In [45]:
X_test[1:2]

,landmass,zone,area,population,language,bars,stripes,colors,red,green,...,topleft_red,topleft_white,botright_black,botright_blue,botright_brown,botright_gold,botright_green,botright_orange,botright_red,botright_white
80,3,4,103,0,6,0,0,3,1,0,...,0,0,0,1,0,0,0,0,0,0

In [46]:
model.predict(X_test)

array([1, 0, 1, 5, 1, 1, 5, 2, 2, 0, 0, 0, 1, 2, 2, 1, 0, 0, 0, 2, 1, 2,
       0, 0, 5, 0, 5, 1, 5, 0, 1, 2, 1, 6, 1, 2, 2, 0, 0, 0, 0, 5, 2, 1,
       0, 5, 1, 1, 5], dtype=int64)

In [41]:
y_test.values

array([1, 1, 1, 2, 2, 6, 5, 5, 2, 3, 5, 2, 6, 2, 2, 0, 0, 4, 7, 1, 1, 5,
       0, 7, 0, 1, 1, 1, 6, 2, 0, 0, 0, 2, 1, 3, 1, 3, 2, 6, 2, 2, 4, 0,
       2, 0, 1, 1, 1], dtype=int64)