In [5]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import os

In [8]:
flag = pd.read_csv("flags.csv", names=['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 'bars', 'stripes', 'colors', 'red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright'])
flag.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [13]:
flag = pd.get_dummies(flag)

In [16]:
X = flag.drop(columns='religion')
y = flag.religion

X = [[0], [1], [2], [3]]
y = [0, 0, 1, 1]

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [38]:
model = KNeighborsClassifier(n_neighbors=2)

In [39]:
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [40]:
model.score(X_test, y_test)

0.46938775510204084

In [57]:
X_test[1:2]

,landmass,zone,area,population,language,bars,stripes,colors,red,green,...,topleft_red,topleft_white,botright_black,botright_blue,botright_brown,botright_gold,botright_green,botright_orange,botright_red,botright_white
135,2,3,407,3,2,0,3,6,1,1,...,1,0,0,1,0,0,0,0,0,0

In [60]:
model.predict(X_test)

array([6, 2, 0, 1, 0, 0, 1, 1, 0, 0, 5, 0, 2, 2, 0, 1, 1, 1, 0, 1, 0, 5,
       0, 0, 0, 2, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 2, 5, 2, 1], dtype=int64)

In [62]:
y_test.values

array([5, 0, 6, 0, 3, 3, 1, 1, 1, 0, 6, 0, 2, 0, 2, 1, 1, 1, 0, 1, 5, 5,
       2, 0, 6, 2, 5, 1, 1, 1, 5, 4, 1, 5, 5, 5, 0, 0, 1, 7, 5, 1, 5, 5,
       2, 1, 5, 2, 1], dtype=int64)