In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
import os

In [2]:
flag_df = pd.read_csv("flags.csv", names=['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 'bars', 'stripes', 'colors', 'red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright'])
flag_df

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [3]:
flag_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        194 non-null    object
 1   landmass    194 non-null    int64
 2   zone        194 non-null    int64
 3   area        194 non-null    int64
 4   population  194 non-null    int64
 5   language    194 non-null    int64
 6   religion    194 non-null    int64
 7   bars        194 non-null    int64
 8   stripes     194 non-null    int64
 9   colors      194 non-null    int64
 10  red         194 non-null    int64
 11  green       194 non-null    int64
 12  blue        194 non-null    int64
 13  gold        194 non-null    int64
 14  white       194 non-null    int64
 15  black       194 non-null    int64
 16  orange      194 non-null    int64
 17  mainhue     194 non-null    object
 18  circles     194 non-null    int64
 19  crosses     194 non-null    int64
 20  saltires    194 non-null    int64
 21  quarters    194 non-null    int64
 22  sunstars    194 non-null    int64
 23  crescent    194 non-null    int64
 24  triangle    194 non-null    int64
 25  icon        194 non-null    int64
 26  animate     194 non-null    int64
 27  text        194 non-null    int64
 28  topleft     194 non-null    object
 29  botright    194 non-null    object
dtypes: int64(26), object(4)
memory usage: 45.6+ KB

In [4]:
# data = {'name'}
# df = pd.DataFrame('flag_df')
# df['name'] =df['name'].astype(float)
# print(df)
# print(df.types)

In [6]:
flag_df.describe()

,landmass,zone,area,population,language,religion,bars,stripes,colors,red,...,circles,crosses,saltires,quarters,sunstars,crescent,triangle,icon,animate,text
count,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,...,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000
mean,3.572165,2.211340,700.046392,23.268041,5.340206,2.190722,0.453608,1.551546,3.463918,0.788660,...,0.170103,0.149485,0.092784,0.149485,1.386598,0.056701,0.139175,0.252577,0.201031,0.082474
std,1.553018,1.308274,2170.927932,91.934085,3.496517,2.061167,1.038339,2.328005,1.300154,0.409315,...,0.463075,0.385387,0.290879,0.435860,4.396186,0.231869,0.347025,0.435615,0.401808,0.275798
min,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,1.000000,9.000000,0.000000,2.000000,1.000000,0.000000,0.000000,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,2.000000,111.000000,4.000000,6.000000,1.000000,0.000000,0.000000,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,4.000000,471.250000,14.000000,9.000000,4.000000,0.000000,3.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.750000,0.000000,0.000000
max,6.000000,4.000000,22402.000000,1008.000000,10.000000,7.000000,5.000000,14.000000,8.000000,1.000000,...,4.000000,2.000000,1.000000,4.000000,50.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
#Using only variable to easy visualization
target = flag_df["religion"]
target_names = ["Catholic", "Other Christian", "Muslim", "Buddhist", "Hindu", "Ethnic", "Marxist", "Others"]

In [8]:
data = flag_df.drop("name", axis = 1)
feature_names = data.columns
data.head()

,landmass,zone,area,population,language,religion,bars,stripes,colors,red,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,5,1,648,16,10,2,0,3,5,1,...,0,0,1,0,0,1,0,0,black,green
1,3,1,29,3,6,6,0,0,3,1,...,0,0,1,0,0,0,1,0,red,red
2,4,1,2388,20,8,2,2,0,3,1,...,0,0,1,1,0,0,0,0,green,white
3,6,3,0,0,1,1,0,0,5,1,...,0,0,0,0,1,1,1,0,blue,red
4,3,1,0,0,6,0,3,0,3,1,...,0,0,0,0,0,0,0,0,blue,red

Apply One-Hot Encoding

In [9]:
# Step 0: Reformat data
data = flag_df.values
X = data[:, 0:30]
y = data[:, 29]

In [10]:
X

array([['Afghanistan', 5, 1, ..., 0, 'black', 'green'],
       ['Albania', 3, 1, ..., 0, 'red', 'red'],
       ['Algeria', 4, 1, ..., 0, 'green', 'white'],
       ...,
       ['Zaire', 4, 2, ..., 0, 'green', 'green'],
       ['Zambia', 4, 2, ..., 0, 'green', 'brown'],
       ['Zimbabwe', 4, 2, ..., 0, 'green', 'green']], dtype=object)

In [11]:
y

array(['green', 'red', 'white', 'red', 'red', 'black', 'blue', 'red',
       'blue', 'blue', 'blue', 'red', 'blue', 'red', 'green', 'blue',
       'red', 'red', 'green', 'red', 'red', 'green', 'blue', 'green',
       'blue', 'gold', 'red', 'green', 'red', 'white', 'gold', 'red',
       'green', 'blue', 'gold', 'red', 'red', 'red', 'red', 'green',
       'red', 'blue', 'blue', 'blue', 'white', 'red', 'red', 'green',
       'green', 'blue', 'red', 'black', 'blue', 'red', 'red', 'white',
       'blue', 'blue', 'white', 'red', 'red', 'red', 'blue', 'green',
       'gold', 'gold', 'green', 'red', 'blue', 'red', 'red', 'red',
       'blue', 'green', 'green', 'green', 'red', 'blue', 'blue', 'green',
       'blue', 'green', 'white', 'red', 'black', 'orange', 'blue', 'red',
       'green', 'gold', 'white', 'green', 'red', 'green', 'blue', 'red',
       'red', 'red', 'blue', 'red', 'green', 'red', 'blue', 'green',
       'green', 'white', 'red', 'red', 'red', 'blue', 'green', 'green',
       'red', 'blue', 'white', 'red', 'blue', 'red', 'gold', 'blue',
       'blue', 'blue', 'white', 'blue', 'blue', 'green', 'green', 'gold',
       'blue', 'black', 'red', 'green', 'green', 'white', 'black', 'blue',
       'red', 'red', 'red', 'red', 'red', 'brown', 'red', 'green', 'blue',
       'green', 'green', 'red', 'green', 'blue', 'white', 'green', 'blue',
       'blue', 'white', 'black', 'red', 'gold', 'blue', 'red', 'blue',
       'green', 'black', 'green', 'blue', 'blue', 'red', 'black', 'red',
       'blue', 'red', 'green', 'red', 'white', 'red', 'red', 'blue',
       'blue', 'black', 'red', 'red', 'white', 'white', 'red', 'red',
       'green', 'white', 'red', 'red', 'red', 'red', 'green', 'brown',
       'green'], dtype=object)

In [12]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

In [13]:
encoded_y

array([4, 6, 7, 6, 6, 0, 1, 6, 1, 1, 1, 6, 1, 6, 4, 1, 6, 6, 4, 6, 6, 4,
       1, 4, 1, 3, 6, 4, 6, 7, 3, 6, 4, 1, 3, 6, 6, 6, 6, 4, 6, 1, 1, 1,
       7, 6, 6, 4, 4, 1, 6, 0, 1, 6, 6, 7, 1, 1, 7, 6, 6, 6, 1, 4, 3, 3,
       4, 6, 1, 6, 6, 6, 1, 4, 4, 4, 6, 1, 1, 4, 1, 4, 7, 6, 0, 5, 1, 6,
       4, 3, 7, 4, 6, 4, 1, 6, 6, 6, 1, 6, 4, 6, 1, 4, 4, 7, 6, 6, 6, 1,
       4, 4, 6, 1, 7, 6, 1, 6, 3, 1, 1, 1, 7, 1, 1, 4, 4, 3, 1, 0, 6, 4,
       4, 7, 0, 1, 6, 6, 6, 6, 6, 2, 6, 4, 1, 4, 4, 6, 4, 1, 7, 4, 1, 1,
       7, 0, 6, 3, 1, 6, 1, 4, 0, 4, 1, 1, 6, 0, 6, 1, 6, 4, 6, 7, 6, 6,
       1, 1, 0, 6, 6, 7, 7, 6, 6, 4, 7, 6, 6, 6, 6, 4, 2, 4])

In [14]:
for label, original_class in zip(encoded_y, y):
    print('Original Class: ' + str(original_class))
    print('Encoded Label: ' + str(label))
    print('-' * 12)

Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: black
Encoded Label: 0
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: white
Encoded Label: 7
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: black
Encoded Label: 0
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: white
Encoded Label: 7
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: black
Encoded Label: 0
------------
Original Class: orange
Encoded Label: 5
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: white
Encoded Label: 7
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: white
Encoded Label: 7
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: black
Encoded Label: 0
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: white
Encoded Label: 7
------------
Original Class: black
Encoded Label: 0
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: brown
Encoded Label: 2
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: white
Encoded Label: 7
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: white
Encoded Label: 7
------------
Original Class: black
Encoded Label: 0
------------
Original Class: red
Encoded Label: 6
------------
Original Class: gold
Encoded Label: 3
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: green
Encoded Label: 4
------------
Original Class: black
Encoded Label: 0
------------
Original Class: green
Encoded Label: 4
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: black
Encoded Label: 0
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: red
Encoded Label: 6
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: blue
Encoded Label: 1
------------
Original Class: black
Encoded Label: 0
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: white
Encoded Label: 7
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: white
Encoded Label: 7
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: red
Encoded Label: 6
------------
Original Class: green
Encoded Label: 4
------------
Original Class: brown
Encoded Label: 2
------------
Original Class: green
Encoded Label: 4
------------

In [15]:
from keras.utils import to_categorical

# Step 2: One-hot encoding
one_hot_y = to_categorical(encoded_y)
one_hot_y

Using TensorFlow backend.
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [16]:
data = flag_df.drop("topleft", axis=1)
feature_names = data.columns
data.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,crosses,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,0,1,0,0,1,0,0,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,0,1,0,0,0,1,0,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,0,1,1,0,0,0,0,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,0,1,1,1,0,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,0,red

In [17]:
data = flag_df.drop("botright", axis=1)
feature_names = data.columns
data.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,crosses,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,0,1,0,0,1,0,0,black
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,0,1,0,0,0,1,0,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,0,1,1,0,0,0,0,green
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,0,1,1,1,0,blue
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,0,blue

In [18]:
data = flag_df.drop("name", axis=1)
feature_names = data.columns
data.head()

,landmass,zone,area,population,language,religion,bars,stripes,colors,red,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,5,1,648,16,10,2,0,3,5,1,...,0,0,1,0,0,1,0,0,black,green
1,3,1,29,3,6,6,0,0,3,1,...,0,0,1,0,0,0,1,0,red,red
2,4,1,2388,20,8,2,2,0,3,1,...,0,0,1,1,0,0,0,0,green,white
3,6,3,0,0,1,1,0,0,5,1,...,0,0,0,0,1,1,1,0,blue,red
4,3,1,0,0,6,0,3,0,3,1,...,0,0,0,0,0,0,0,0,blue,red

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [20]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

ValueError: could not convert string to float: 'black'