Support Vector Machines is used to find a hyperplane in an dimensional space that distinctly classifies the data points. The objective is to find a plane that has the maximum margin, the max distance between data points of both classes. Maximizing the margin distance provides reinforcement so that future data points cana be classified with more confidence

In [39]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [40]:
flag = pd.read_csv("flags.csv", names=['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 'bars', 'stripes', 'colors', 'red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright'])
flag.head(95)

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Japan,5,1,372,118,9,7,0,0,2,...,0,0,1,0,0,0,0,0,white,white
91,Jordan,5,1,98,2,8,2,0,3,4,...,0,0,1,0,1,0,0,0,black,green
92,Kampuchea,5,1,181,6,10,3,0,0,2,...,0,0,0,0,0,1,0,0,red,red
93,Kenya,4,1,583,17,10,5,0,5,4,...,0,0,0,0,0,1,0,0,black,green
94,Kiribati,6,1,0,0,1,1,0,0,4,...,0,0,1,0,0,1,1,0,red,blue

In [41]:
flag.religion.unique()

array([2, 6, 1, 0, 5, 3, 4, 7], dtype=int64)

In [42]:
flag = pd.get_dummies(flag)
flag.head()

,landmass,zone,area,population,language,religion,bars,stripes,colors,red,...,topleft_red,topleft_white,botright_black,botright_blue,botright_brown,botright_gold,botright_green,botright_orange,botright_red,botright_white
0,5,1,648,16,10,2,0,3,5,1,...,0,0,0,0,0,0,1,0,0,0
1,3,1,29,3,6,6,0,0,3,1,...,1,0,0,0,0,0,0,0,1,0
2,4,1,2388,20,8,2,2,0,3,1,...,0,0,0,0,0,0,0,0,0,1
3,6,3,0,0,1,1,0,0,5,1,...,0,0,0,0,0,0,0,0,1,0
4,3,1,0,0,6,0,3,0,3,1,...,0,0,0,0,0,0,0,0,1,0

In [43]:
# Assign X (data) and y (target)

X = flag.drop(columns='religion')
y = flag.religion

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=35)

In [45]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [46]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.490

In [47]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.57      0.44      0.50         9
           1       0.42      0.53      0.47        15
           2       0.50      0.70      0.58        10
           3       0.00      0.00      0.00         4
           4       0.00      0.00      0.00         1
           5       0.80      0.80      0.80         5
           6       0.00      0.00      0.00         3
           7       0.50      0.50      0.50         2

    accuracy                           0.49        49
   macro avg       0.35      0.37      0.36        49
weighted avg       0.44      0.49      0.46        49

C:\Users\maiko\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Analysis: Better at predicting Other Christian than any other religion.